extends layout

block content
  h1= title
  thead
    tr
      th='Gjaldmiðill'
      th='Kaup'
      th='Sala'
  tbody(id='currency__container')

    block content
      h1=title
      p welcomes! to #{title}
      table
        thead
          tr
            td nafn stöðvar
          tbody
            for channel in channels
              tr
                td
                  a(href='tv'+channel.name) #{channel.name}
