extends layout

block content
  h1= title
  table
    thead
      tr
        td Gjaldmiðill
        td Kaup
        td Sala
        td Breyting
        td Reiknir
    tbody
      tr
        td= 'ISK'
        td= '1'
        td= '1'
        td= '0'
        td: input(id='ISK' type='text' placeholder='1' oninput='iskfunc()')
      each currency in currencies
        tr
          td= currency.shortName
          td= currency.bidValue
          td= currency.askValue
          td= currency.changeCur
          td: input(id=currency.shortName type='text' placeholder=currency.bidValue oninput=currency.shortName.toLowerCase() + 'func()')
