extends layout

block content
  h1= title
  h5: a(href='/') Aftur á forsíðu
  table(class='table-container')
    thead
      tr
        td
        td Gjaldmiðill
        td Kaup
        td Sala
        td Breyting
        td Reiknir
    tbody
      tr
        td: img(src='/images/ISK.png')
        td= 'ISK'
        td= '1'
        td= '1'
        td= '0'
        td: input(id='ISK' type='text' placeholder='1' oninput='iskfunc()')
      each currency in currencies
        tr
          td: img(src='/images/' + currency.shortName + '.png')
          td= currency.shortName
          td= currency.bidValue
          td= currency.askValue
          td= currency.changeCur
          td: input(id=currency.shortName type='text' placeholder=currency.bidValue onFocus='this.select()' onInput=currency.shortName.toLowerCase() + 'func()')
